
	<div id="datafilter-programs" class="data-filter"></div>

	<div id="datafilter-years" class="data-filter"></div>

	<div id="datafilter-cities" class="data-filter"></div>

	<div id="datafilter-states" class="data-filter"></div>

	<div id="datafilter-countries" class="data-filter"></div>

	<button id="datafilters-reset">Clear All Filters</button>
