
/* CUSTOM SELECT
/*-------------------------------------------------------*/

select.replaced {
	opacity: 0;
	position: absolute;
}

.custom-select-container {
	width: 320px;
	height: 32px;
	outline: 0;
	position: relative;
	z-index: 8;

	.custom-select-label {
		@include prefix(box-sizing, border-box);
		display: block;
		cursor: pointer;
		width: 258px;
		height: 32px;
		background-color: #777;
		padding: 4px 20px 4px 8px;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}

	.custom-select-arrow {
		@include prefix(box-sizing, border-box);
		display: block;
		cursor: pointer;
		width: 60px;
		height: 32px;
		background: #222;
		position: absolute;
		right: 0;
		top: 0;
	}
	.custom-select-arrow:after {
		content: "";
		display: block;
		width: 22px;
		height: 16px;
		margin: -8px 0 0 -11px;
		background: transparent url('#{$image-path}/sprite-arrows.png') no-repeat -140px -100px;
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.custom-select-list {
		-webkit-transition: max-height .3s ease;
		-moz-transition: max-height .3s ease;
		transition: max-height .3s ease;
		width: 258px;
		height: auto;
		max-height: 32px;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				@include prefix(box-sizing, border-box);
				width: 100%;
				min-height: 32px;
				border-top: 1px solid #333;
				margin: 0;
				padding: 0;
				&:first-child {
					border-top: 0;
				}

				a {
					@include prefix(box-sizing, border-box);
					display: block;
					cursor: pointer;
					width: 100%;
					height: 100%;
					background-color: #777;
					color: #fff;
					font-size: 16px;
					line-height: 24px;
					text-decoration: none;
					padding: 4px 20px 4px 8px;
					&:hover, &:focus, &.active {
						background-color: #aaa;
						color: #222;
					}
				}

			}

		}

	}

	&.active {
		z-index: 9;

		.custom-select-label {
			display: none;
		}

		.custom-select-arrow {
			background-color: #aaa;
		}
		.custom-select-arrow:after {
			background-position: -140px -60px;
		}

		.custom-select-list {
			/* 396px will accommodate 12 single-line items (32 x 12 + 12), adjust as necessary */
			max-height: 396px;
			overflow: scroll;
		}

	}

}
