
/* DATA TABLE
-------------------------------------------------------*/

.data-table-container {

	table {
		width: 100%;
		max-width: 100%;
		background-color: transparent;
		border: 1px solid #ddd;
		border-collapse: collapse;
		margin: 0;

		th, td {
			height: 20px;
			min-width: 100px;
			max-width: 300px;
			padding: 4px 5px;
			overflow: hidden;
			line-height: 20px;
			text-align: left;
			text-overflow: ellipsis;
			vertical-align: top;
			border: 1px solid #DDD;
		}

		th {
			font-weight: bold;
			white-space: nowrap;
		}

		thead th {
			vertical-align: bottom;
			background-color: #f9f9f9;
		}

		tbody tr:nth-child(even) td,
		tbody tr:nth-child(even) th {
			background-color: #f9f9f9;
		}





	}

}
