
/* DATA TABLE
/*-------------------------------------------------------*/

.data-table-container {
	min-height: 400px;
	position: relative;

	table {
		width: 100%;
		max-width: 100%;
		margin: 12px 0;

		th, td {
			min-width: 80px;
			max-width: 300px;
			padding: 5px 8px;
			text-align: left;
			vertical-align: top;

			&.year {
				min-width: 40px;
			}

			&.name, &.program {
				min-width: 120px;
			}

			&.hidden {
				display: none;
			}

			&.num {
				text-align: right;
			}

		}

		th {
			font-weight: bold;
			vertical-align: bottom;
			white-space: nowrap;
			background-color: #ddd;

			&.sorting_asc, &.sorting_desc, &.sorting {
				cursor: pointer;
			}

			&.sorting_asc:after, &.sorting_desc:after, &.sorting:after {
				content: "";
				display: inline-block;
				width: 11px;
				height: 10px;
				background: transparent url('#{$image-path}/carets.png') no-repeat 0 -10px;
				margin-left: 6px;
			}

			&.sorting_desc:after {
				background-position: 0 0;
			}

			&.sorting:after {
				opacity: 0.3;
			}

		}

		tbody tr:nth-child(even) td,
		tbody tr:nth-child(even) th {
			background-color: #efefef;
		}

		tfoot {

			select {
				max-width: 140px;
			}

		}

		.no-results {
			padding: 10px 0 30px 0;

			p {
				margin: 0 0 10px 0;
			}

		}

	}

	.data-table-heading {
		height: 24px;
		text-align: center;
		margin-bottom: 16px;
		position: relative;

		.dataTables_info {
			float: left;
			height: 24px;
			line-height: 24px;
			padding: 0 8px;
		}

		.dataTables_filter {
			float: right;

			label {
				display: inline-block;
				width: 244px;
				height: 24px;
				position: relative;

				input[type=search], input[type=text] {
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
				}

			}
		}

	}

	.data-table-filters {
		margin-bottom: 16px;
		position: relative;

		.column-filter-widget {
			display: inline-block;
			height: 40px;
			margin: 0 5px;

			select {
				display: block;
				width: 140px;
				margin-bottom: 8px;
			}

			a {
				position: absolute;
			}

		}

	}

	.data-table-paginav {
		height: 24px;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		position: relative;
	
		a {
			display: inline-block;
			cursor: pointer;
			text-decoration: none;
			min-width: 10px;
			background: #f9f9f9;
			border: 1px solid #ddd;
			margin: 0 4px;
			padding: 0 8px;
			&:hover, &:focus {
				background: #ddd;
			}
			&.paginate_button_disabled {
				cursor: default;
				color: #ddd;
				background: #f9f9f9;
			}
			&.paginate_active {
				cursor: default;
				color: #010101;
				background: #ddd;
				border: 1px solid #010101;
			}
			&.paginate_button {
				&.first:before {
					content: "<< ";
				}
				&.previous:before {
					content: "< ";
				}
				&.next:after {
					content: " >";
				}
				&.last:after {
					content: " >>";
				}
			}
		}

	}

}

.data-filters-container {
	margin-bottom: 20px;
	padding-top: 80px;
	position: relative;

	.data-filter {
		margin-bottom: 20px;
		position: relative;
	}

	select {
		width: 100%;
	}

	button {
		width: 100%;
	}

}
